* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 244, 227);
    font: 14px sans-serif;
    color: #333;
}

label {
    display: flex;
    flex-direction: column;
    width: 25vw;
    color: white;
    padding: 10px 0;
}

input {
    border: none;
    border-radius: 3%;
    width: 25vw;
    height: 40px;
    background-color: rgb(251, 244, 227);
}

.addButton {
    width: 110px;
    padding: 10px;
    margin-top: 18px;
    border: none;
    border-radius: 5%;
    background-color: rgb(19, 137, 141);
    color: white;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: row;
}

.list {
    width: 50vw;
    height: 100vh;
}

.addTask {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background-color: salmon;
    padding-left: 13%;
}

.input {
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .content {
        flex-direction: column-reverse;
    }

    .addTask {
        width: 100vw;
        height: auto;
        padding: 10px;
    }

    .list {
        width: 100vw;
    }
}

/* tarefas */

.card {
    background-color: blue;
}

